extends ../layouts/common.pug

block content      
    h2.d-flex.align-items-center 
        span.mr-3 Transactions
        a.btn.btn-primary(href="transactions/create") Create
    table.table
        tr
            th UserId
            th BookId
            th Check
            th Complete
        each transaction in transactions
            tr
                td=transaction.userId
                td=transaction.bookId
                td
                    if transaction.isComplete
                        p Đã hoàn thành
                    else    
                        a(href="/transactions/" + transaction.id +"/complete") Hoàn thành
                td=transaction.isComplete